* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #c7c7c7;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: black;
  text-decoration: none;
}

.background-image {
  background-image: url('../img/tlo.jpg');
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.navbar-inverse {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Rationale', sans-serif;
  background-color: #222;
  border-color: #080808;
  background-image: url("../img/real_cf.png");
  border-bottom: 1px solid #3d3d3d;
  border-top: 1px solid #3d3d3d;
}

.navbar-inverse .navbar-brand {
  color: #f30202;
  font-size: 40px;
  font-family: 'Bangers', cursive;
}

.navbar-inverse .navbar-nav > li > a {
  border: 2px solid transparent;
  color: #e70404;
  border-radius: 6px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ff2c2c;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ff2c2c;
  background-color: rgba(0,0,0,0.3);
  border: 2px solid transparent;
  border-radius: 6px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  font-size: 16px;
  color: red;
  border: 2px solid #9c0000;
  border-radius: 6px;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e70404;
}

.navbar-inverse .navbar-toggle {
  border-color: #9c0000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ff2c2c;
  background-color: rgba(0,0,0,0.3);
}

.dropdown-menu {
  background-color: #222;
  background-image: url("../img/real_cf.png");
}

.dropdown-menu > li > a {
  color: #e70404;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ff2c2c;
  background-color: rgba(0,0,0,0.3);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #f30202;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

.container-terminarz {
  min-height: 800px;
}

#kafelek-terminarz {
  border-radius: 14px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 200px;
  color: #c7c7c7;
  border: 1px solid transparent;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px 0px #9c0000;
}

.btn-terminarz{
  color: #333;
  background-color: #f30202;
  border-color: #f30202;
  border-radius: 12px;
  font-size: 30px;
  font-family: 'Rationale', sans-serif;
  padding: 15px 40px 15px 40px;
  margin-top: 10px;
}

.container-uslugi{
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.8);
}

.kafelek-uslugi{
  color: #c7c7c7;
  margin: 10px;
  padding: 12px 10px 10px 10px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 8px;
  min-height: 400px;
  box-shadow: 0px 0px 10px 0px #9c0000;
}

.btn-uslugi{
  position: absolute;;
  color: #333;
  background-color: #f30202;
  border-color: #f30202;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  bottom: 25px;
  right: 40px;
  outline: 0;
}

.container-kontakt{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.8);
}

.kafelek-kontakt{
  color: #c7c7c7;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 8px;
  min-height: 200px;
  box-shadow: 0px 0px 10px 0px #9c0000;
}

.container-onas{
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: rgba(0,0,0,0.8);
}

.kafelek-onas{
  color: #c7c7c7;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 8px;
  min-height: 200px;
  box-shadow: 0px 0px 10px 0px #9c0000;
}

.autor{
  color: #e70404;
  font-size: 16px;
  padding-top: 5px;
  font-weight: bold;
}

.autor-podpis{
  font-family: 'Nothing You Could Do', cursive;
}

#map {
 height: 400px;
 width: 100%;
}

.modal-content {
  background-color: black;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px #e70404;
  padding: 10px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px dotted #e70404;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px dotted #e70404;
}

.btn-modal{
  color: #333;
  background-color: #f30202;
  border-color: #f30202;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.btn-modal{
  color: black;
  background-color: #e70404;
  border-color: #e70404;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: black;
  background-color: #f30202;
  border-color: #f30202;
}
